node-red/flows/van.json
[{"id":"in1","type":"mqtt in","z":"706df6af40fe9901","name":"van/#","topic":"van/#","qos":"0","datatype":"auto","broker":"ha_mqtt_broker","nl":false,"rap":true,"rh":0,"inputs":0,"x":80,"y":60,"wires":[["540d74f14cc712c2"]]},{"id":"file1","type":"file","z":"706df6af40fe9901","name":"append /share/campervan_alla_MQTT.csv","filename":"/share/campervan_alla_MQTT.csv","filenameType":"str","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":610,"y":60,"wires":[[]]},{"id":"540d74f14cc712c2","type":"function","z":"706df6af40fe9901","name":"timestamp + topic","func":"// Skapa lokal tid i format YYYY-MM-DD;HH:MM:SS\nlet d = new Date();\nlet pad = n => n.toString().padStart(2, \"0\");\n\nlet ts =\n  d.getFullYear() + \"-\" +\n  pad(d.getMonth() + 1) + \"-\" +\n  pad(d.getDate()) + \";\" +\n  pad(d.getHours()) + \":\" +\n  pad(d.getMinutes()) + \":\" +\n  pad(d.getSeconds());\n\n// topic\nlet topic = msg.topic || \"\";\n\n// payload -> sträng (så filen blir läsbar även om payload är objekt)\nlet pl;\nif (typeof msg.payload === \"string\") {\n  pl = msg.payload;\n} else {\n  try { pl = JSON.stringify(msg.payload); }\n  catch(e) { pl = String(msg.payload); }\n}\n\n// CSV-rad: date;time;topic;payload\n// Obs: ersätt radbrytningar så varje MQTT blir en rad\npl = pl.replace(/\\r?\\n/g, \" \");\n\nmsg.payload = ts + \";\" + topic + \";\" + pl;\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":310,"y":80,"wires":[["file1"]]},{"id":"068eb511c16ad152","type":"mqtt in","z":"706df6af40fe9901","name":"van/ellie/tele/gps","topic":"van/ellie/tele/gps","qos":"0","datatype":"auto","broker":"ha_mqtt_broker","nl":false,"rap":true,"rh":0,"inputs":0,"x":100,"y":240,"wires":[["a2afc421a9b59ebf"]]},{"id":"a2afc421a9b59ebf","type":"json","z":"706df6af40fe9901","name":"parse json","property":"payload","action":"","pretty":false,"x":300,"y":240,"wires":[["b5a0fd2eacd2eeff"]]},{"id":"b5a0fd2eacd2eeff","type":"function","z":"706df6af40fe9901","name":"format gps csv","func":"// GPS loggning till CSV - endast SINGLE-läge\n//\n// En rad skrivs per GPS-meddelande.\n//\n// Kolumner:\n// local_date;local_time;profile;lat;lon;alt;hdop;sat;speed_kmh;fix_ok;msg_id;raw_json\n//\n// Kommentar:\n// - Endast stöd för GPS mode=single\n// - Hela originalpayloaden sparas i raw_json\n// - Numeriska värden skrivs med kommatecken för Excel på svenska system\n\n// Hjälpfunktion: fyll ut tal till två tecken, t.ex. 3 -> \"03\"\nfunction pad(n) {\n    return n.toString().padStart(2, '0');\n}\n\n// Hjälpfunktion: omvandla epoch-tid (sekunder) till lokal datum/tid\nfunction fmtDateTimeFromEpoch(epochSeconds) {\n    if (epochSeconds === undefined || epochSeconds === null || epochSeconds === '') {\n        return { date: '', time: '' };\n    }\n\n    let d = new Date(Number(epochSeconds) * 1000);\n    if (isNaN(d.getTime())) {\n        return { date: '', time: '' };\n    }\n\n    return {\n        date: d.getFullYear() + '-' + pad(d.getMonth() + 1) + '-' + pad(d.getDate()),\n        time: pad(d.getHours()) + ':' + pad(d.getMinutes()) + ':' + pad(d.getSeconds())\n    };\n}\n\n// Hjälpfunktion: formatera decimaltal och byt punkt till komma\nfunction fmtNumComma(v, decimals) {\n    if (v === undefined || v === null || v === '') return '';\n\n    let num = Number(v);\n    if (!Number.isFinite(num)) return '';\n\n    let s = (decimals !== undefined) ? num.toFixed(decimals) : String(num);\n    return s.replace('.', ',');\n}\n\n// Hjälpfunktion: formatera heltal\nfunction fmtInt(v) {\n    if (v === undefined || v === null || v === '') return '';\n\n    let num = Number(v);\n    if (!Number.isFinite(num)) return '';\n\n    return String(Math.trunc(num));\n}\n\n// Hjälpfunktion: formatera boolean till text\nfunction fmtBool(v) {\n    if (v === undefined || v === null || v === '') return '';\n\n    if (typeof v === 'boolean') {\n        return v ? 'true' : 'false';\n    }\n\n    return String(v);\n}\n\n// Hjälpfunktion: skydda CSV-fält som innehåller ; eller citattecken\nfunction csvEscape(v) {\n    if (v === undefined || v === null) return '';\n\n    let s = String(v);\n\n    if (s.includes(';') || s.includes('\"') || s.includes('\\n') || s.includes('\\r')) {\n        s = '\"' + s.replace(/\"/g, '\"\"') + '\"';\n    }\n\n    return s;\n}\n\n// Hjälpfunktion: spara hela originalobjektet som JSON-sträng\nfunction getRawJson(obj) {\n    try {\n        return JSON.stringify(obj);\n    } catch (e) {\n        return '';\n    }\n}\n\n// Hämtar ut GPS-data ur payload.\n// Stöd finns både för flat struktur och eventuell framtida p.fix-struktur.\nfunction pickFix(p) {\n    let fx = p.fix || {};\n\n    return {\n        // Position\n        lat: (fx.lat !== undefined) ? fx.lat : p.lat,\n        lon: (fx.lon !== undefined) ? fx.lon : p.lon,\n\n        // Höjd - stöd för både alt och alt_m\n        alt: (fx.alt !== undefined) ? fx.alt :\n            (fx.alt_m !== undefined) ? fx.alt_m :\n                (p.alt !== undefined) ? p.alt : p.alt_m,\n\n        // HDOP\n        hdop: (fx.hdop !== undefined) ? fx.hdop : p.hdop,\n\n        // Satelliter - stöd för både sat och sats\n        sat: (fx.sat !== undefined) ? fx.sat :\n            (fx.sats !== undefined) ? fx.sats :\n                (p.sat !== undefined) ? p.sat : p.sats,\n\n        // Hastighet - stöd för både spd och speed_kmh\n        spd: (fx.spd !== undefined) ? fx.spd :\n            (fx.speed_kmh !== undefined) ? fx.speed_kmh : p.speed_kmh,\n\n        // Fix-status\n        fix_ok: (fx.fix_ok !== undefined) ? fx.fix_ok :\n            (p.fix_ok !== undefined) ? p.fix_ok : p.valid\n    };\n}\n\n// Bygger en CSV-rad i rätt kolumnordning\nfunction makeRow(data) {\n    return [\n        data.local_date,\n        data.local_time,\n        data.profile,\n        data.lat,\n        data.lon,\n        data.alt,\n        data.hdop,\n        data.sat,\n        data.speed_kmh,\n        data.fix_ok,\n        data.msg_id,\n        data.raw_json\n    ].map(csvEscape).join(';');\n}\n\n\n// =========================\n// Huvudlogik\n// =========================\n\nlet p = msg.payload;\n\n// Ignorera allt som inte är GPS\nif (!p || p.type !== 'GPS') {\n    return null;\n}\n\n// Ignorera allt som inte är single\nif (p.mode !== 'single') {\n    return null;\n}\n\n// Tid för raden: använd ts om den finns, annars epoch_utc\nlet ts = (p.ts !== undefined) ? p.ts : p.epoch_utc;\nif (ts === undefined) {\n    return null;\n}\n\n// Plocka ut GPS-data\nlet fix = pickFix(p);\n\n// Lokal tid för CSV-raden\nlet dt = fmtDateTimeFromEpoch(ts);\n\n// Hela originalpayloaden sparas också\nlet rawJson = getRawJson(p);\n\n// Bygg CSV-rad\nmsg.payload = makeRow({\n    local_date: dt.date,\n    local_time: dt.time,\n    profile: p.profile || '',\n    lat: fmtNumComma(fix.lat, 6),\n    lon: fmtNumComma(fix.lon, 6),\n    alt: fmtNumComma(fix.alt, 1),\n    hdop: fmtNumComma(fix.hdop, 1),\n    sat: fmtInt(fix.sat),\n    speed_kmh: fmtNumComma(fix.spd, 1),\n    fix_ok: fmtBool(fix.fix_ok),\n    msg_id: p.msg_id || '',\n    raw_json: rawJson\n});\n\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":240,"wires":[["0293f351e5177865"]]},{"id":"0293f351e5177865","type":"file","z":"706df6af40fe9901","name":"append /share/campervan_position.csv","filename":"/share/campervan_position.csv","filenameType":"str","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":780,"y":240,"wires":[[]]},{"id":"ha_mqtt_broker","type":"mqtt-broker","name":"HA Mosquitto (core-mosquitto)","broker":"core-mosquitto","port":"1883","clientid":"node-red","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""}]
