node-red/flows/van.json
[{"id":"706df6af40fe9901","type":"tab","label":"Van","disabled":false,"info":"","env":[]},{"id":"in1","type":"mqtt in","z":"706df6af40fe9901","name":"van/#","topic":"van/#","qos":"0","datatype":"auto","broker":"ha_mqtt_broker","nl":false,"rap":true,"rh":0,"inputs":0,"x":80,"y":60,"wires":[["ts1"]]},{"id":"ts1","type":"function","z":"706df6af40fe9901","name":"timestamp","func":"// Skapa lokal tid i format YYYY-MM-DD HH:MM:SS\nlet d = new Date();\nlet pad = n => n.toString().padStart(2, \"0\");\n\nlet ts =\n    d.getFullYear() + \"-\" +\n    pad(d.getMonth() + 1) + \"-\" +\n    pad(d.getDate()) + \";\" +\n    pad(d.getHours()) + \":\" +\n    pad(d.getMinutes()) + \":\" +\n    pad(d.getSeconds());\n\n// Bygg loggrad: \"2025-12-11 18:38:10: <payload>\"\nmsg.payload = ts + \": \" + msg.payload;\n\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":310,"y":60,"wires":[["file1"]]},{"id":"file1","type":"file","z":"706df6af40fe9901","name":"append /share/campervan_alla_MQTT.csv","filename":"/share/campervan_alla_MQTT.csv","filenameType":"str","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":610,"y":60,"wires":[[]]},{"id":"fcc8b8672b43cf80","type":"mqtt in","z":"706df6af40fe9901","name":"van/ellie/tele/gps","topic":"van/ellie/tele/gps","qos":"0","datatype":"auto","broker":"ha_mqtt_broker","nl":false,"rap":true,"rh":0,"inputs":0,"x":100,"y":140,"wires":[["ff22937253aebe2f"]]},{"id":"ff22937253aebe2f","type":"json","z":"706df6af40fe9901","name":"parse json","property":"payload","action":"","pretty":false,"x":300,"y":140,"wires":[["029720f964e04c5e"]]},{"id":"029720f964e04c5e","type":"function","z":"706df6af40fe9901","name":"format gps csv","func":"// GPS loggning till CSV (en rad per position)\n// Output format: Date;Time;Profile;Lat;Lon;Speed\n// Tid tas från epoch_utc (single) eller t0+dt*i (batch).\n// Förutsätter att Node-RED kör i lokal tid (Europe/Stockholm).\n\nfunction pad(n){ return n.toString().padStart(2,\"0\"); }\nfunction fmtDateTimeFromEpoch(epochSeconds){\n    let d = new Date(epochSeconds*1000);\n    let date = d.getFullYear()+\"-\"+pad(d.getMonth()+1)+\"-\"+pad(d.getDate());\n    let time = pad(d.getHours())+\":\"+pad(d.getMinutes())+\":\"+pad(d.getSeconds());\n    return {date, time};\n}\nfunction fmtNumComma(v, decimals){\n    if (v === undefined || v === null || v === \"\") return \"\";\n    let num = Number(v);\n    if (!Number.isFinite(num)) return \"\";\n    let s = (decimals !== undefined) ? num.toFixed(decimals) : String(num);\n    return s.replace(\".\", \",\");\n}\n\nlet p = msg.payload;\nif (!p || p.type !== \"GPS\") return null;\n\nlet lines = [];\nlet profile = p.profile || \"\";\n\n// ---- SINGLE ----\nif (p.mode === \"single\") {\n  // Stöd både spec (ts + fix) och nuvarande (epoch_utc + lat/lon/speed_kmh)\n  let ts = (p.ts !== undefined) ? p.ts : p.epoch_utc;\n  if (ts === undefined) return null;\n\n  let latV = (p.fix && p.fix.lat !== undefined) ? p.fix.lat : p.lat;\n  let lonV = (p.fix && p.fix.lon !== undefined) ? p.fix.lon : p.lon;\n  let spdV = (p.fix && p.fix.spd !== undefined) ? p.fix.spd : p.speed_kmh;\n\n  let dt = fmtDateTimeFromEpoch(Number(ts));\n  let lat = fmtNumComma(latV, 6);\n  let lon = fmtNumComma(lonV, 6);\n  let spd = fmtNumComma(spdV, 1);\n\n  lines.push(`${dt.date};${dt.time};${profile};${lat};${lon};${spd}`);\n}\n\n\n// ---- BATCH ----\nelse if (p.mode === \"batch\") {\n    if (p.t0 === undefined || p.dt === undefined || !Array.isArray(p.fixes)) return null;\n\n    let t0 = Number(p.t0);\n    let step = Number(p.dt);\n\n    for (let i=0; i<p.fixes.length; i++){\n        let fx = p.fixes[i];\n        if (!Array.isArray(fx) || fx.length < 2) continue;\n\n        let ts = t0 + step*i;\n        let dt2 = fmtDateTimeFromEpoch(ts);\n        let lat = fmtNumComma(fx[0], 6);\n        let lon = fmtNumComma(fx[1], 6);\n        // fixes: [lat, lon, hdop, sat, spd]\n        let spd = fmtNumComma(fx[4], 1);\n\n        lines.push(`${dt2.date};${dt2.time};${profile};${lat};${lon};${spd}`);\n    }\n} else {\n    return null;\n}\n\nmsg.payload = lines.join(\"\\n\"); // newline så filen blir snygg\nreturn msg;\n","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":140,"wires":[["5bab8a89dee2ddf9"]]},{"id":"5bab8a89dee2ddf9","type":"file","z":"706df6af40fe9901","name":"append /share/campervan_position.csv","filename":"/share/campervan_position.csv","filenameType":"str","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":780,"y":140,"wires":[[]]},{"id":"ha_mqtt_broker","type":"mqtt-broker","name":"HA Mosquitto (core-mosquitto)","broker":"core-mosquitto","port":"1883","clientid":"node-red","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""}]
